body{
    padding: 0px;
    margin: 0px;
    
}
#Background1{
    background-image: url("../images/Tokyo3.jpg");
    background-repeat: no-repeat;
    background-color: black;
    background-size: 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}
#Background2{
    background-color: black;
    opacity: 0.2;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}
#Text_div{
    background-color: black;
    opacity: 0.6;
    margin-left: 100px;
    margin-top:100px;
    position: absolute;
    width: 1400px;
    height: 700px;
    z-index: 2;
}
#Text_div p{
    padding: 10px;
    color: white;
}
#Video_Tokyo{
    
    margin-left: 700px;
    width: 600px;
    height: 400px;
    position: absolute;
}
#Images_div{
  background-color: red;
  position: relative;
  width: 600px;
  height: 400px;
  margin-left: 50px;
}